[submodule "MidiFile"]
	path = midifile
	url = https://github.com/craigsapp/midifile.git
[submodule "rtmidi"]
	path = rtmidi
	url = https://github.com/thestk/rtmidi.git
[submodule "externals/Engine"]
	path = externals/Engine
	url = https://github.com/TDSOJohn/Engine
